In [1]:
!pip install numpy
!pip install pandas
import numpy as np
import pandas as pd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

# New Section

In [2]:
df = pd.read_csv("cosmet churn.csv")

In [3]:
df.head()

,CustomerID,Churn,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,PreferedOrderCat,SatisfactionScore,MaritalStatus,Complain,OrderAmountHikeFromlastYear,OrderCount,DaySinceLastOrder
0,50001,1,3,6.0,Debit Card,Female,Lipstick,2,Single,1,11.0,1.0,5.0
1,50002,1,1,8.0,UPI,Male,Brush,3,Single,1,15.0,1.0,0.0
2,50003,1,1,30.0,Debit Card,Male,Brush,3,Single,1,14.0,1.0,3.0
3,50004,1,3,15.0,Debit Card,Male,Lipstick,5,Single,0,23.0,1.0,3.0
4,50005,1,1,12.0,CC,Male,Brush,5,Single,0,11.0,1.0,3.0

In [4]:
df.shape

(5630, 13)

In [5]:
df.columns

Index(['CustomerID', 'Churn', 'CityTier', 'WarehouseToHome',
       'PreferredPaymentMode', 'Gender', 'PreferedOrderCat',
       'SatisfactionScore', 'MaritalStatus', 'Complain',
       'OrderAmountHikeFromlastYear', 'OrderCount', 'DaySinceLastOrder'],
      dtype='object')

In [6]:
df.isnull().sum()

CustomerID                       0
Churn                            0
CityTier                         0
WarehouseToHome                251
PreferredPaymentMode             0
Gender                           0
PreferedOrderCat                 0
SatisfactionScore                0
MaritalStatus                    0
Complain                         0
OrderAmountHikeFromlastYear    265
OrderCount                     258
DaySinceLastOrder              307
dtype: int64

In [7]:
a = df.dropna()

In [8]:
a.shape

(4549, 13)

In [9]:
a.isnull().sum()

CustomerID                     0
Churn                          0
CityTier                       0
WarehouseToHome                0
PreferredPaymentMode           0
Gender                         0
PreferedOrderCat               0
SatisfactionScore              0
MaritalStatus                  0
Complain                       0
OrderAmountHikeFromlastYear    0
OrderCount                     0
DaySinceLastOrder              0
dtype: int64

In [11]:
x = a.iloc[:, [2,3,4,5,7,8,9,10,12]]

In [12]:
x.head()

,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,SatisfactionScore,MaritalStatus,Complain,OrderAmountHikeFromlastYear,DaySinceLastOrder
0,3,6.0,Debit Card,Female,2,Single,1,11.0,5.0
1,1,8.0,UPI,Male,3,Single,1,15.0,0.0
2,1,30.0,Debit Card,Male,3,Single,1,14.0,3.0
3,3,15.0,Debit Card,Male,5,Single,0,23.0,3.0
4,1,12.0,CC,Male,5,Single,0,11.0,3.0

In [13]:
x = pd.get_dummies(x)

In [14]:
x.head()

,CityTier,WarehouseToHome,SatisfactionScore,Complain,OrderAmountHikeFromlastYear,DaySinceLastOrder,PreferredPaymentMode_CC,PreferredPaymentMode_COD,PreferredPaymentMode_Cash on Delivery,PreferredPaymentMode_Credit Card,PreferredPaymentMode_Debit Card,PreferredPaymentMode_E wallet,PreferredPaymentMode_UPI,Gender_Female,Gender_Male,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,3,6.0,2,1,11.0,5.0,0,0,0,0,1,0,0,1,0,0,0,1
1,1,8.0,3,1,15.0,0.0,0,0,0,0,0,0,1,0,1,0,0,1
2,1,30.0,3,1,14.0,3.0,0,0,0,0,1,0,0,0,1,0,0,1
3,3,15.0,5,0,23.0,3.0,0,0,0,0,1,0,0,0,1,0,0,1
4,1,12.0,5,0,11.0,3.0,1,0,0,0,0,0,0,0,1,0,0,1

In [15]:
y = a['Churn']

In [16]:
y.shape

(4549,)

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y, random_state = 42)

In [18]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [19]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_train,y_train)

RandomForestClassifier()

In [20]:
y_predic = rf.predict(X_test)

In [21]:
from sklearn.metrics import mean_squared_error
cost = mean_squared_error(y_test, y_predic)
cost

0.0632688927943761